@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: url(https://fonts.gstatic.com/s/opensans/v27/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4gaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Pinyon Script';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/pinyonscript/v11/6xKpdSJbL9-e9LuoeQiDRQR8WOXaPw.ttf) format('truetype');
}
@font-face {
  font-family: 'Rochester';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/rochester/v16/6ae-4KCqVa4Zy6Fif-UC2FHS.ttf) format('truetype');
}
body {
  padding: 20px 0;
  background: #ccc;
}
h1,h2,p {
  margin-bottom: 8px;
  margin-top: 0;
}


/* Main Code */
.pm-certificate-container {
  position: relative;
  width: 1136px;
  height: 864px;
  padding: 0;
  background-color: #fff;
  color: #2E3131;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.pm-certificate-container .outer-border {
  width: 1065px;
  height: 702px;
  position: absolute;
  left: 35px;
  top: 81px;
  border: 3px solid #A6A8AA;
  border-style: dashed;
}
.pm-certificate-container .inner-border {
  width: 966px;
  height: 801px;
  position: absolute;
  left: 85px;
  top: 31px;
  border: 3px solid #A6A8AA;
  border-style: dashed;
}
.pm-certificate-container .pm-certificate-border {
  position: relative;
  width: 1040px;
  height: 778px;
  padding: 63px 82px;
  border: 3px solid #525252;
  background-color: #ffffff;
  background-image: url('./img/certificate-pattern.svg');
  background-size: contain;
  background-repeat: no-repeat;
  left: 46px;
  top: 43px;
}
.pm-certificate-container .pm-certificate-border .pm-certificate-header {
  margin-bottom: 10px;
}
.pm-certificate-container .pm-certificate-border .pm-certificate-partners {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, minmax(auto, 1fr));
  grid-column-gap: 40px;
}
.pm-certificate-container .pm-certificate-border .pm-certificate-partners div {
  width: 144px;
}
.pm-certificate-container .pm-certificate-border .pm-certificate-block {
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 1fr));
  margin-top: 36px;
  margin-bottom: 54px;
}
.pm-certificate-container .pm-certificate-border .pm-certificate-block img {
  margin-bottom: 14px;
}
.pm-certificate-block-left span {
  color: #2873F0;
}
.pm-certificate-block-right {
  text-align: right;
  margin-top: 2px;
}
.pm-certificate-content h1 {
  font-size: 56px;
  line-height: 64px;
  font-weight: bold;
}
.pm-certificate-content h2 {
  font-size: 32px;
  line-height: 48px;
}
.pm-certificate-footer {
  display: grid;
  grid-template-columns: repeat(5, minmax(auto, 1fr));
  margin-top: 52px;
  text-align: center;
}
.pm-certificate-footer img {
  height: 40px;
}
.pm-certificate-footer .dash {
  height: 1px;
  width: 152px;
  border-top: 1px dashed #000;
  margin: 8px auto 4px;
}
.pm-certificate-footer h6 {
  font-weight: bold;
  font-size: 16px;
}
.pm-certificate-footer p {
  font-size: 14px;
  line-height: 20px;
  width: 152px;
  margin: auto;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  word-wrap: break-word;
}